@import "../../utils/styles/variables";

.rating {
    display: flex;
    gap: 4px;
    @media screen and (max-width : 720px) {
        gap: 2px;
    }
    &__redStar {
        color: $secondary-color;
        font-size: 1.7rem;
        padding: 4.5px;
        @media screen and (max-width : 720px) {
            font-size: 0.915rem;
            padding: 1.7px;
        }
    }
    &__greyStar {
        color: $grey-star-color;
        font-size: 1.7rem;
        padding: 4.5px;
        @media screen and (max-width : 720px) {
            font-size: 0.915rem;
            padding: 1.7px;
        }
    }
}
