.tagsText {
    min-width: 115px;
    max-height: 25px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: bottom;
    margin: 0px;
    padding: 3.5px 10px;
    @media screen and (max-width : 720px) {
        min-width: 84px;
        max-height: 18px;
        font-size: 0.625rem;
        padding: 2.5px 5px;
    }
}