
body {
    max-width: 1240px;
    margin: 45px auto;
    @media screen and (max-width : 1280px) {
        margin: 45px 20px;
    }
    @media screen and (max-width : 720px) {
        margin: 20px 20px;
    }
}

#root {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/******** Header ********/
@mixin nav-li-items {
    font-size: 1.5rem;
    margin: 0;
    @media screen and (max-width : 720px) {
        font-size: 0.75rem;
        text-transform: uppercase;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    @media (max-width : 720px) {
        max-width: 145px;
    }
}

.nav {
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 4rem;
        margin: 0;
        @media screen and (max-width : 720px) {
            gap: 1.6rem;
        }
        .li {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            &__Link {
                text-decoration: none;
                color: #000000;
                display:block;
                @include nav-li-items()
            }
            &__apropos {
                text-decoration: underline;
                @include nav-li-items()
            }
            &__accueil {
                text-decoration: underline;
                @include nav-li-items()
            }
        }
    }
}

/******* Home *********/
.home {
    display: flex;
    flex-direction: column;
    gap: 43px;
    @media screen and (max-width : 720px) {
        gap: 22px;
    }
}

.containerBanner {
    position: relative;
    height: 223px;
    border-radius: 25px;
    background-color:  #000000;
    @media screen and (max-width : 720px) {
        height: 111px;
    }
    .imgBanner {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 40%;
        border-radius: 25px;
    }
    .titreBanner {
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 3rem;
        white-space : nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 4px 4px #000000;
        @media screen and (max-width : 960px) {
            font-size: 2.2rem;
        }
        @media screen and (max-width : 720px) {
            font-size: 1.5rem;
            white-space : normal;
            left: 16px;
            transform: translate(0, -50%);
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px 60px;
    margin: 50px;
    @media screen and (max-width : 960px) {
        font-size: 2.2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media screen and (max-width : 720px) {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .card {
        position: relative;
        aspect-ratio: 1;      
        border-radius: 10px;
        background: linear-gradient(to top,rgba(236, 4, 4, 0.7), rgba(73, 0, 0, 0.7));
        @media screen and (max-width : 720px) {
            aspect-ratio: 67/51;
        }
        &__img {
            display: block;
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        &__title {
            margin: 0px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 1;
            width: 88%;
            color: white;
            font-size: 1.125rem;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
        }
    }

}