@import "../../utils/styles/mixins";
@import "../../utils/styles/variables";

.header {
    @include displayFlex(row, normal, center);
    &__container {
        @include maxWidth1240;
        @include displayFlex(row, center, space-between);
        margin-top: 45px;
        @media screen and (max-width : 1280px) {
            margin: 45px 20px 0 20px;
        }
        @media screen and (max-width : 720px) {
            margin: 20px 20px 0 20px;
        }
    }
}

.headerLogo {
    @media (max-width : 720px) {
        max-width: 145px;
    }
}

.nav {
    ul {
        @include displayFlex(row, center);
        list-style-type: none;
        gap: 4rem;
        margin: 0;
        @media screen and (max-width : 720px) {
            gap: 1.6rem;
        }
        .li {
            font-weight: 500;
            &__Link {
                text-decoration: none;
                color: $black-color;
                display:block;
                @include nav-li-items()
            }
            &__apropos {
                text-decoration: underline;
                @include nav-li-items()
            }
            &__accueil {
                text-decoration: underline;
                @include nav-li-items()
            }
        }
    }
}