@import "../../utils/styles/mixins";
@import "../../utils/styles/variables";

.footer {
    @include displayFlex(column, center);
    background-color: $black-color;
    gap: 42px;
    @media screen and (max-width : 720px) {
        gap: 15px;
    }
    &__logo {
        margin-top: 65px;
    }
    &__credits {
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0 0 32px 0;
        @media screen and (max-width : 720px) {
            font-size: 0.75rem;
            max-width: 120px;
            text-align: center;
            margin: 0 0 58px 0;
        }
    }
}